# create a .env.test file using this template, to be used for running specs

# Username and password and base dn to bind on the ldap server
LDAP_SERVER_USERNAME="username"
LDAP_SERVER_PASSWORD="password"
LDAP_SERVER_BASE='OU=People,DC=ifad,DC=org'

# The url of the ldapr api to be used for specs
LDAPR_BASE_URL='http://localhost:9393/v1'